
body {
  margin: auto;
  padding: 0;
  width: 375px;
  background: #e5e5e5;
}

.font {
  font-family: 'Poppins', sans-serif;
  margin: 4px;
}

.header {
  display: flex;
  justify-items: center;
}

.myLogo {
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  color: #6070ff;
  width: 300px;
}

.ul-image {
  display: contents;
  margin: 10px 260px 12px 300px;
  padding: 0;
  list-style: none;
}

.toolbar-section {
  background-repeat: no-repeat;
  background-image: url("/Images/header-shapes\ mobile@2x.png"), url("/Images/header-background-mobile.png");
  border: 1 px solid #fff;
}

.first-title {
  margin: 114px 24px 12px 24px;
  color: #17284d;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
}

.description {
  margin: 20px 24px 12px 24px;
  font-family: "PoppinsThin", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
}

.description2 {
  margin: 20px 24px 12px 24px;
  font-family: "PoppinsThin", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.linkSocials {
  margin: 20px 24px 12px 24px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}

.card-works {
  border: 1 px solid #fff;
  margin-top: 20px;
  position: static;
  width: 200px;
  top: 950px;
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border: 10px solid #fff;
  border-radius: 24px;
  margin: auto;
  width: auto;
  height: auto;
}

.card-works-layout1 {
  margin-top: 114px;
}

.card-works-layout2 {
  margin-top: 104px;
}

.card-works-layout3 {
  margin-top: 88px;
}

.card-works-layout4 {
  margin-top: 104px;
}

.snapshot1 {
  margin: 24px 24px 24px auto;
  width: auto;
}

.snapshot2 {
  margin: 24px 24px 24px auto;
  width: auto;
}

.snapshot3 {
  margin: 24px 24px 24px auto;
  width: auto;
}

.snapshot4 {
  margin: 24px 24px 24px auto;
  width: auto;
}

.card-works-content1 {
  margin-top: 0;
  margin-bottom: 24px;
}

.tonic {
  position: static;
  width: 295px;
  height: 36px;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.multi-post {
  position: static;
  width: 190px;
  height: 80px;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.ul-frame1 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.client {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.role {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.year {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.description3 {
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: 'PoppinsThin', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.grid {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  padding: 0;
  order: 2;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 24px;
  position: static;
  width: 45px;
  height: 24px;
  left: 61px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 8px;
}

.html-tag {
  position: static;
  width: 29px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.css-tag {
  position: static;
  width: 21px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.js-tag {
  position: static;
  width: 65px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.works-button {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  width: 124px;
  height: 45px;
  margin: 16px 4px 16px 0;
  background: #fff;
  border: 1px solid #7f8cff;
}

.works-button:hover {
  border: 1px solid #7f8cff;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.normal-button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 24px;
  font-family: 'PoppinsThin', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #396df2;
  text-align: center;
  letter-spacing: 0.51px;
  height: 60px;
  background-color: #fff;
}

.normal-button1:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.about-me-section {
  background-repeat: no-repeat;
  background-image: url("/Images/Base\ about\ my\ self.png");
  background-size: contain;
  position: absolute;
  width: auto;
  height: 1263px;
  left: auto;
  top: 3560px;
}

.about-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: auto;
  padding-left: 20px;
}

.first-title2 {
  position: static;
  width: 265px;
  height: 101px;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.description4 {
  position: static;
  width: 327px;
  height: 144px;
  left: 0;
  top: 113px;
  font-family: "PoppinsThin", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.description5 {
  margin: 8px 0;
  font-family: "PoppinsThin", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.linkSocials2 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 10px 0;
  padding: 0;
  align-items: center;
}

.about-me-button {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  overflow: hidden;
  width: 120px;
  background: #fff;
  border: 1px solid #7884f1;
}

.about-me-button:hover {
  border: 1px solid #838ef1;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.normal-about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'PoppinsThins', sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: normal;
  color: #386df2;
  text-align: center;
  letter-spacing: 0.51px;
  height: 40px;
  background-color: #fff;
}

.normal-about-me:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.skills-list {
  display: grid;
  grid-template-columns: 300px;
  margin: 12px 24px 12px 24px;
  padding: 2px;
  position: static;
}

.frame1 {
  list-style-type: none;
  padding-left: 0;
  width: auto;
}

.frame-list {
  margin-bottom: 12px;
}

.languages {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-right: 0;
  padding-right: 20px;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 36px;
}

.lang {
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-right: 80px;
  color: #000;
}

.arrow {
  width: 14px;
  height: 8px;
  padding-left: 0;
  margin-left: 0;
  padding-top: 7px;
}

.frame2 {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 0;
  flex-wrap: wrap;
}

.language1 {
  position: static;
  width: 300px;
  height: 80px;
  left: 12px;
  top: 0;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  margin: 1px 0 12px 0;
}

.list {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-row-gap: 16px;
}

.javascript {
  padding: 9px 9.72px 12px;
}

.html {
  padding: 9px 9.72px 12px;
}

.css {
  padding: 9px 9.72px 12px;
}

.language {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  justify-content: left;
  margin-top: 0;
  margin-left: 80px;
  color: #253858;
}

hr.solid {
  text-align: center;
  border-top: 3px solid rgb(173, 171, 171);
  width: 95%;
  margin-left: 0;
}
